nnoremap <SPACE> <Nop>
let mapleader=" "

""                                                                                               VIM SETTINGS 
"" share clipboard with system
set clipboard=unnamedplus,unnamed,ideaput " integrate with system clipboard
set scrolloff=20
set number                        " line numbers
set relativenumber

set hlsearch                      " highlight search occurrences
set ignorecase                    " ignore case in search patterns
set smartcase                     " no ignore case when pattern is uppercase
set incsearch                     " show search results while typing
set wrapscan                      " searches wrap around the end of the file
" idea specific settings
set ideajoin
set ideastatusicon=gray
set idearefactormode=keep
set ideamarks
" Do incremental searching.
set incsearch

""                                                                         Map IDE actions to IdeaVim -- https://jb.gg/abva4t
map <leader>rc <Action>(ReformatCode)
map <leader>de <Action>(Debug)
map <leader>ru <Action>(Run)
map <leader>br <Action>(ToggleLineBreakpoint)
map <leader>si <Action>(SelectInProjectView)
nnoremap <c-t> :action ActivateTerminalToolWindow<CR>
nnoremap <leader>te :action Terminal.OpenInTerminal<CR>
nnoremap <leader>zm :action ToggleZenMode<CR>
nnoremap <leader>sh :action SplitHorizontally<CR>
nnoremap <leader>sv :action SplitVertically<CR>
nnoremap <leader>un :action UnsplitAll<CR>
nnoremap <leader>ns :action NextSplitter<CR>
nnoremap <leader>ps :action PrevSplitter<CR>




















" Find more examples here: https://jb.gg/share-ideavimrc
" Disable arrow keys
noremap <Up> <Nop>
noremap <Down> <Nop>
noremap <Left> <Nop>
noremap <Right> <Nop>
